<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
      integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>MLH - Event Suggestion Generator</title>
  </head>
  <body>
    <nav class="navbar navbar-default topbar-bot">
      <div class="container-fluid">
        <div class="navbar-header flex-topbar">
          <a class="navbar-brand" href="/">
            <img alt="mlh-logo" src="/static/logo.svg" />
          </a>
          <p class="navbar-text">Event Suggestion Generator!</p>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row form-container">
        <div class="col-md-10">
          <form action="" method="POST">
            <div class="form-group">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Type a city"
                  name="city"
                  id="city"
                  aria-label="Type a city"
                  aria-describedby="submit"
                  value="{{ city }}"
                />

                <div class="input-group-append">
                  <button
                    class="btn btn-primary"
                    type="submit"
                    id="submit"
                    disabled
                  >
                    Find events
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card-columns" id="events"></div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="eventPreview"
      tabindex="-1"
      role="dialog"
      aria-labelledby="eventPreviewTitle"
      aria-hidden="true"
    >
      <div id="modal" class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eventPreviewTitle">Modal title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-light" id="subscribeButton">
              <span id="subscribedButtonContent">
                <img
                  src="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/svg/heart.svg"
                  class="icon-favorite"
                  alt="Favorite actions"
                />

                <span id="subscribedCount">0</span>
              </span>
            </button>
            <a class="btn btn-primary" target="_blank" href="/" id="eventUrl"
              >Go to EventBrite</a
            >
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/static/script.js"></script>
  </body>
</html>
